include ./natlog/natprogs/*.nat
include ./natlog/natprogs/*.json
include ./natlog/natprogs/*.pro
include ./natlog/natprogs/*.tsv
include ./natlog/test/*.py
include ./bak/*.py
include ./bin/*.py
include ./natlog/doc/*.pdf
